@font-face {
  font-family: 'iconfont';  /* project id 1189121 */
  src: url('http://at.alicdn.com/t/font_1189121_nlsaw70lpo.eot');
  src: url('http://at.alicdn.com/t/font_1189121_nlsaw70lpo.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1189121_nlsaw70lpo.woff2') format('woff2'),
  url('http://at.alicdn.com/t/font_1189121_nlsaw70lpo.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1189121_nlsaw70lpo.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1189121_nlsaw70lpo.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon119:before {
  content: "\e638";
}

.icon5:before {
  content: "\e604";
}

.iconiconfontzhizuobiaozhun22:before {
  content: "\e615";
}

.iconiconfontfenxiang:before {
  content: "\e626";
}

.iconfanhui:before {
  content: "\e605";
}

.iconguanbi:before {
  content: "\e61b";
}

.iconxuanze:before {
  content: "\e62e";
}

.iconshimingrenzheng:before {
  content: "\e609";
}

.iconhome:before {
  content: "\e61a";
}

.iconxiugai:before {
  content: "\e635";
}

.iconxiayiye1:before {
  content: "\e6ab";
}

.iconicon-test:before {
  content: "\e650";
}

.iconwodeshoucang:before {
  content: "\e62b";
}

.iconjinqian:before {
  content: "\e643";
}

.iconxiayiye:before {
  content: "\e624";
}

.iconziyuan:before {
  content: "\e659";
}

.iconduihao:before {
  content: "\e6c6";
}

.iconshoucang:before {
  content: "\e613";
}

.iconxianshi_xuanzetianchong:before {
  content: "\e627";
}

.iconwodeqianbao:before {
  content: "\e61c";
}

.iconindex:before {
  content: "\e608";
}

.iconjinqian1:before {
  content: "\e730";
}

.iconshezhi1:before {
  content: "\e600";
}

